body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}


.header {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.header img {
    width: 150px;
    height: auto;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.title {
    margin: 0;
    font-size: 1.8rem;
}


.nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 0 0;
    gap: 10px;
    justify-content: center;
}

.nav ul li a {
    padding: 10px 15px;
    background-color: #c2341b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.nav ul li a:hover {
    background-color: white;
    color: #d34e11;
    border: 2px solid #c74612; 
    width: 120px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 

}


.main {
    padding: 20px;
    text-align: center;
    color: white;
}

.main img {
    width: 100%;
    max-width: 800px;
    height: auto;
}


.bottom {
    background-color: #d1460f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


.cookies {
    font-size: 18px;
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-color: white;
    border: solid black;
    padding: 20px;
    overflow: auto;
    z-index: 1000;
}

.hidden {
    display: none;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #da421c;
}


.pictures {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.pictures img {
    width: 100px;
    height: auto;
}

/* Enkel responsivitet */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .nav ul {
        flex-direction: column;
    }

    .cookies {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        width: 100%;
    }



















}
    
